:root {
  --primary-color: #ff4500;
  --secondary-color: #6394ed;
  --background-cards: #86acf2;
  --tertiary-color: #aac4f3;
  --quaternary-color: #284b8c;
  --cool-font-family: "Lobster", sans-serif;
  --app-width: 600px;
  --main-padding: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background-color: var(--tertiary-color);
  max-width: var(--app-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

main {
  padding: var(--main-padding);
  flex: 1;
  overflow-y: scroll;
}
