*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(170, 196, 243);
  max-width: 600px;
  margin: auto;
}

header {
  border: 5px solid cornflowerblue;
  font-family: "Lobster", sans-serif;
  font-size: 25px;
  color: orangered;
  background-color: cornflowerblue;
  padding: 20px;
  text-align: center;
  border-bottom-color: orangered;
}

.qabox {
  border: 3px solid orangered;
  background-color: rgb(134, 172, 242);
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* text-align: center; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.markpos {
  position: absolute;
  top: -10px;
  left: 90%;
}

.question {
  /* border: 1px solid yellow; */
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Lobster", sans-serif;
  font-size: 1, 25rem;
}

.show-answer {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: orangered;
  margin-top: 2rem;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-style: outset;
  background-color: cornflowerblue;
  color: white;
}

.categories {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.categories li {
  display: inline;
  margin-right: 5px;
  padding: 5px;
  background-color: rgb(170, 196, 243);
}
footer {
  border: 3px solid green;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  background-color: cornflowerblue;
  padding: 1rem;
}

.menu {
  /* nav */
  /* border: 5px solid pink; */
  width: 100%;
}

.menulist {
  width: 100%;
  /* border: 2px solid yellow; */
  max-width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menulist li {
  /* border: 2px solid red; */
  text-align: center;
  min-width: 5rem;
}

.menulist li img {
  max-width: 60px;
  display: inline-block;
}

.bookmark {
  width: 40px;
}

.user {
  width: 54px;
}
