.qabox {
  border: 3px solid var(--primary-color);
  background-color: var(--background-cards);
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* text-align: center; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.markpos {
  position: absolute;
  top: -10px;
  left: 90%;
}

.question {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--cool-font-family);
  font-size: 1, 25rem;
}

.answer {
  display: none;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: var(--cool-font-family);
  font-size: 1, 25rem;
}
.button-show-answer_hide {
  display: none;
}

.qabox--answer-visible {
  border: 10px solid green;
}

.qabox--answer-visible .answer {
  display: block;
}

.qabox--answer-visible .button-show-answer_hide {
  display: inline;
}

.qabox--answer-visible .button-show-answer_show {
  display: none;
}

.categories {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.categories li {
  display: inline;
  margin-right: 5px;
  padding: 5px;
  background-color: var(--tertiary-color);
}
