header {
  border: 5px solid var(--secondary-color);
  font-family: var(--cool-font-family);
  font-size: 25px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  border-bottom-color: var(--primary-color);
}
